div.header {
    article.about {
        padding: 20px 0 20px 0;
    }
}

article.about {
    padding: 20px 0 40px 0;

    div.left {
        width: 500px;

        h2 {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 26px;
            font-weight: 400;
            margin: 24px 0 12px 0;
        }

        p {
            color: #606060;
            margin: 0 0 16px 0;
        }
    }
}
