article.profile-payments {
    overflow: auto;
    padding: 20px 0 20px 0;

    h2 {
        font-weight: 300;
        font-size: 22px;
        margin: 10px 0 0;
    }

    div.payment-history {
        background: #f4f4f4;
        border: 1px solid #d0d0d0;
        border-radius: 4px;
        margin: 10px 0 30px;
        padding: 20px 20px;
    }

    h3 {
        color: $green;
        font-size: 16px;
        font-weight: 400;
        margin: 10px 20px;
    }
    p.sales-pitch {
        color: #303030;
        margin: 10px 20px;
    }
    p.no-payments-message {
        color: #303030;
        margin: 50px 0 60px;     
        text-align: center;
    }
    a.pay-now {
        @include button(simple, #799b10);
        font-size: 16px;
        margin: 20px 0;
    }

    #payments {
        margin: 0 0 40px;

        td {
            padding: 10px;
            border-bottom: 1px solid #e0e0e0;

            &.what {
                text-align: left;
            }
            &.when {
                text-align: center;
            }
            &.amount {
                text-align: center;
            }
        }
    }
}

div.container {
    article.pay-now {
        padding: 40px 0 30px;
    }
}

article.pay-now {
    overflow: auto;
    padding: 20px 0;

    div.title {
        h1 {
            span {
                opacity: 0.6;
            }
        }
    }

    div.items {
        background: #e9e9e9;
        border-radius: 6px;
        color: black;
        font-size: 18px;
        margin: 10px 0;
        padding: 20px;
        text-align: center;
    }

    form {
        width: 550px;
        float: left;

        div.errors {
            background: darken(red, 10%);
            border-radius: 6px;
            color: white;
            margin: 0 0 10px;
            padding: 20px;
        }

        fieldset {
            background: #f0f0f0;
            border: 1px solid #d0d0d0;
            border-radius: 6px;
            margin: 0 0 10px;
            overflow: auto;
            overflow: hidden;
            padding: 20px;

            legend {
                display: block;
                float: left;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0 0 0 160px;
            }

            label {
                display: inline-block;
                text-align: right;
                padding: 0 10px 0 0; 
                width: 150px;
                clear: both;
            }

            input {
                padding: 8px;
                border: 1px solid #d0d0d0;
                border-radius: 6px;
                font-size: 14px;
                width: 300px;
                &:focus {
                    outline: 0;
                    box-shadow: 0 0 4px $blue;
                }
                &.error {
                    border-color: darken(red, 10%);
                    border-width: 2px;
                    padding: 7px;
                    width: 298px;
                }
            }
            
            p.error {
                margin: 4px 0 4px 160px;
                color: darken(red, 10%);
            }
            span {
                color: #909090;
                margin-left: 8px;
            }

            #card-number {
                width: 150px;
            }
            #amount {
                width: 60px;
            }
            #cvv {
                width: 60px;
            }
            #province,
            #phone-number,
            #postal-code {
                width: 150px;
            }

            select {
                padding: 8px;
                border: 1px solid #d0d0d0;
                border-radius: 6px;
                font-size: 16px;
                background: white;
                margin-right: 5px;
                &:focus {
                    outline: 0;
                    box-shadow: 0 0 4px $blue;
                }
                &.error {
                    border-color: darken(red, 10%);
                    border-width: 2px;
                    padding: 7px;
                }
            }

            #cancel-payment {
                background: #b0b0b0;
                border: 0;
                border-radius: 6px;
                color: white;
                display: block;
                float: left;
                font-size: 14px;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
                padding: 8px;
                text-align: center;
                text-decoration: none;
                width: 100px;

                &:hover {
                    background: black;
                }
            }
            #process-payment {
                background: $green;
                border: 0;
                border-radius: 6px;
                color: white;
                float: left;
                font-size: 14px;
                font-weight: bold;
                height: 36px;
                padding: 7px 8px 9px 8px;
                width: 190px;
                margin: 0 10px 0 160px;
                
                &:hover {
                    cursor: pointer;
                    background: black;
                }
            }
            #legal {
                width: 14px; 
                margin: 4px 0 0 136px;
                float: left;
                &:focus {
                    box-shadow: none;
                }
            }
            label[for="legal"] {
                width: 320px;
                padding: 0 0 0 10px;
                text-align: left;
                color: #606060;
                outline: none;
            }
            .confirm {
                overflow: auto;
            }
        }
    }

    ul {
        list-style: none;  
        margin: 0;
        padding: 16px 0 0;
        clear: left;
        >li {
            padding: 2px 0;
        }
    }

    div.thank-you {
        border: 1px solid #d0d0d0;
        border-radius: 6px;
        float: left;
        padding: 160px 20px 20px; 
        width: 508px;
        text-align: center;
        background: url('/images/thank-you-bg.jpg') no-repeat center 50px;

        >h4 {
            font-size: 20px;
            margin-bottom: 6px;
        }
        >p {
            font-weight: 300;
        }

        >.settings,
        >.tagging {
            border-radius: 3px;
            color: white;
            display: inline-block;
            margin: 30px 20px 20px;
            padding: 10px 20px;

            &:hover {
                background: black;
                cursor: pointer;
                text-decoration: none;
            }
        }
        >.settings {
            background: $green;
        }
        >.tagging {
            background: $blue;
        }
    }

    div.details {
        border: 1px solid #e0e0e0;
        border-radius: 6px;
        float: left;
        margin: 0 0 0 20px;
        padding: 20px;
        position: relative;
        width: 488px;

        >.included {
            float: right;
            text-align: center;

            h3 {
                font-size: 20px;
            }

            p {
                font-weight: 300;

                strong {
                    font-weight: 400;                    
                }
            }
        }

        span.price {
            @include number-font();
            color: white;
            font-size: 18px;
            left: 0;
            position: absolute;
            top: 0;

            >em {
                float: left;
                font-style: normal;
                opacity: 0.6;
            }
            >span {
                font-size: 38px;
                font-weight: 600;
                line-height: 34px;
                margin: 0;
                letter-spacing: -2px;
            }
        }

        &.option-1 {
            background: url('/images/bot-1.png') no-repeat 30px -30px;
            height: 280px;

            >span {
                left: 80px;
                top: 184px;
            }

            >.included {
                width: 300px;
                margin: 110px 0 0;
            }
        }
        &.option-2 {
            background: url('/images/bot-2.png') no-repeat 0 0;
            height: 320px;

            >span {
                left: 197px;
                top: 166px;
            }

            >.included {
                margin: 50px 0 0;
                width: 290px;
            }
        }
        &.option-3 {
            background: url('/images/bot-3.png') no-repeat 20px 30px;
            height: 340px;

            >span {
                left: 51px;
                top: 227px;
            }

            >.included {
                margin: 140px 0 0;
                width: 280px;
            }
        }
    }

    div.secured {
        float: right;
        height: 75px; 
        overflow: hidden;
        width: 350px;

        div {
            float: left;
            margin-right: 20px;
        }
    }
}


/* Styling for the crowdfunding information page. */
body.crowdfunding {
    div.header {
        background: black url('/images/contest-bg.jpg') no-repeat center top;
        border-top: 0;

        article.crowdfunding {
            padding: 50px 0;

            h1 {
                color: #c0c0c0;
                margin: 0 80px;
                text-align: center;

                strong {
                    color: white;
                }
            }
        }
    }

    div.container {
        >div.inner {
            width: 100%;
        }
    }
}

article.crowdfunding {
    h2 {
        @include sans();
        color: #404040;
        font-size: 28px;
        font-weight: 300;         
        text-align: center;
        margin: 0 0 20px;
    }

    div.sales-pitch {
        padding: 60px 0;
        overflow: auto;
        width: 1100px; 
        margin: 0 auto;

        table {
            margin: 40px 0 0;
        }

        td {
            width: 450px;
            padding: 0 0 20px 100px;
            vertical-align: top;
            background: url('/images/crowdfund-bullet.jpg') no-repeat 48px 4px;

            h3 {
                color: $blue;
                font-weight: 400;
                font-size: 20px;
            }
            p {
                color: #606060;
            }
        }
    }

    div.levels {
        background: url('/images/grid-bg.png') repeat center top;

        >div.inner {
            margin: 0 auto;
            padding: 60px 0;
            width: 1000px;
        }

        .note {
            color: #606060;
            text-align: center;
            font-style: italic;
            margin: 30px 0 0;
        }

        .overview {
            text-align: center;
            color: #303030;
        }

        .choice-list {
            overflow: auto;

            .choice {
                float: left;
                padding: 350px 0 0 0;
                position: relative;
                text-align: center;
                width: 33%;

                a {
                    background: $blue;
                    color: white;
                    display: inline-block;
                    padding: 5px 10px;
                    border-radius: 3px;
                    margin: 10px 0;

                    &:hover {
                        background: black;
                        text-decoration: none;
                    }
                }

                span.price {
                    @include number-font();
                    color: white;
                    font-size: 18px;
                    left: 0;
                    position: absolute;
                    top: 0;

                    >em {
                        float: left;
                        font-style: normal;
                        opacity: 0.6;
                    }
                    >span {
                        font-size: 38px;
                        font-weight: 600;
                        line-height: 34px;
                        margin: 0;
                        letter-spacing: -2px;
                    }
                }

                &.zero {
                    background: url('/images/bot-1.png') no-repeat center 45px;

                    span.price {
                        top: 259px;
                        left: 74px;
                    }
                }
                &.five {
                    background: url('/images/bot-2.png') no-repeat center 20px;

                    span.price {
                        top: 185px;
                        left: 221px;
                    }
                }
                &.twenty {
                    background: url('/images/bot-3.png') no-repeat center 20px;

                    span.price {
                        top: 218px;
                        left: 56px;
                    }
                }
            }
        }
    }

    div.feedback {
        margin: 0 auto;
        overflow: auto;
        padding: 40px 0 60px; 
        width: 1100px;

        .links {
            overflow: auto;
            padding: 20px 0 0;
        }

        a {
            background: url('/images/crowdfunding-icons.jpg') no-repeat left top;
            color: #303030;
            display: inline-block;
            float: left;
            font-size: 14px;
            height: 64px;
            line-height: 1.1em;
            padding: 0 20px 0 75px;
            width: 180px;

            &:hover {
                color: $blue;
                text-decoration: none;
            }

            &:nth-child(1) {
                padding-top: 8px;
                margin-left: 20px;
                height: 56px;
                background-position: left -256px;

                &:hover {
                    background-position: left 0;
                }
            }
            &:nth-child(2) {
                background-position: left -320px;
                padding-top: 16px;
                height: 48px;

                &:hover {
                    background-position: left -64px;
                }
            }
            &:nth-child(3) {
                background-position: left -384px;
                padding-top: 16px;
                height: 48px;

                &:hover {
                    background-position: left -128px;
                }
            }
            &:nth-child(4) {
                background-position: left -448px;
                padding-top: 16px;
                height: 48px;
                padding-right: 0;

                &:hover {
                    background-position: left -192px;
                }
            }
        }
    }
}
