/* Styling for the watch list page */
div.container {
    article.your-watch-list {
        min-height: 210px;
        padding-top: 0;
    }
}

article.your-watch-list {
    overflow: auto;
    padding: 20px 0 20px 0;

    #empty-watch-list {
        padding: 70px 0;
        text-align: center;

        strong {
            color: black;
            display: block;
            margin: 0 0 10px 0;
        }
        p {
            color: #505050;
            font-weight: 300;
        }
    }

    table {
        margin: 0 0 20px;
    }

    th {
        padding: 15px 0px;
        cursor: default;
        white-space: nowrap;

        span {
            font-size: 13px;
        }
    }

    #hours-column-header {
        width: 70px;
        a {
            margin-left: 10px;
        }
    }
    #price-column-header {
        a {
            margin-left: 6px;
        }
    }
    #rating-column-header {
        padding-right: 5px;
        a {
            margin-left: 10px;
        }
    }

    tr.watch {
        border-bottom: 1px solid #e0e0e0;
        overflow: auto;

        &:hover,
        &:target {
            background: #fff6df;

            &:nth-child(odd) {
                background: #fff7e0;
            }
            td.position {
                div {
                    color: black;
                    border-color: #e0e0e0;
                }
            }
            td.remove {
                div {
                    border-color: #e0e0e0;
                }
            }
        }
        td {
            cursor: default;
            padding: 8px 10px;

            &.position {
                color: #808080;
                font-weight: bold;
                padding: 0;
                text-align: center;
                width: 50px;

                div {
                    border-left: 1px solid white;
                    line-height: 40px;
                    padding: 8px 0 8px 10px;
                    width: 39px;
                }
            }
            &.name {
                padding: 8px 0 8px 10px;
                min-width: 470px;

                img {
                    background: url(/images/small-unknown-game.png) white;
                    border: 1px solid #e0e0e0;
                    display: block;
                    float: left;
                    height: 36px;
                    width: 96px;
                }
                h4.name {
                    @include game-title();
                    color: #898989;
                    display: block;
                    float: left;
                    font-size: 16px;
                    font-weight: 400;
                    height: 20px;
                    line-height: 19px;
                    padding-left: 10px;
                    max-width: 360px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    sup {
                        margin-left: 6px;
                        vertical-align: top;
                        font-size: 12px;
                    }
                }
                h5.genre {
                    color: #898989;
                    cursor: default;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 400;
                    margin: 0;
                    padding: 0 0 0 10px;
                    width: 360px;
                }
                a:hover {
                    h4.name {
                        color: black;
                    }
                }
            }
            &.rating {
                color: black;
                padding: 8px 15px 8px 0;
                text-align: right;
                span {
                    font-size: 12px;
                    color: #606060;
                }
            }
            &.hours {
                color: black;
                padding: 8px 18px 8px 0;
                text-align: right;
                width: 30px;
            }
            &.cost-per-hour {
                color: #303030;
                font-size: 14px;
                padding: 8px 16px 8px 0;
                text-align: right;
                width: 70px;

                div {
                    border-radius: 4px;
                    display: inline;
                    padding: 6px 8px;
                }
                &.active {
                    font-weight: bold;

                    div {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
            &.price {
                color: #303030;
                padding: 8px 4px 8px 0;
                text-align: right;
                width: 70px;

                del {
                    color: #909090;
                    font-size: 13px;
                    font-weight: normal;
                }
                div {
                    border-radius: 4px;
                    display: inline-block;
                    padding: 6px 8px;
                }
                &.on-sale {
                    padding: 2px 4px 2px 0;
                    div {
                        padding: 5px 8px;
                        line-height: 14px;
                    }
                }
                &.active {
                    font-weight: bold;

                    div {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
            &.notification {
                text-align: center;
                width: 173px;
                padding: 8px 4px 8px 6px;
                background: rgba(0, 0, 0, 0.03);
                border-left: 1px solid #dcdcdc;
                border-right: 1px solid #dcdcdc;
                white-space: nowrap;

                span {
                    color: #909090;
                    float: left;
                    font-size: 16px;
                    line-height: 32px;
                    margin: 0 5px;
                }
                select {
                    background: white;
                    border: 1px solid #d0d0d0;
                    border-radius: 4px;
                    color: #303030;
                    cursor: pointer;
                    float: left;
                    font-family: "Lato";
                    font-size: 14px;
                    height: 32px; 
                    padding: 5px;
                    width: 88px;
                    &:focus, &:hover {
                        border-color: $blue;
                        border-width: 2px;
                        color: black;
                        outline: none;
                        padding: 4px;
                    }
                }
                input {
                    border: 1px solid #d0d0d0;
                    border-radius: 4px;
                    color: #303030;
                    float: left;
                    font-size: 14px;
                    height: 20px;
                    margin: 0;
                    padding: 5px 10px;
                    text-align: right;
                    width: 40px;
                    @include sans();

                    &:focus, &:hover {
                        border-color: $blue;
                        border-width: 2px;
                        color: black;
                        outline: none;
                        padding: 4px 9px;
                    }
                }
            }
            &.remove {
                padding: 0;
                width: 35px;

                a.remove-watch {
                    cursor: pointer;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: bold;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    width: 24px;
                    &:hover {
                        background: $blue;
                        border-radius: 3px;
                        color: white;
                        text-decoration: none;
                    }
                }

                div {
                    border-right: 1px solid white;
                    line-height: 40px;
                    padding: 8px 8px 8px 2px;
                    width: 24px;
                }
            }
            &.copy {
                padding: 8px 2px 8px 8px;
                width: 24px;
                line-height: 40px;

                a.copy-watch {
                    cursor: pointer;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: bold;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    width: 24px;
                    &:hover {
                        background: $blue;
                        border-radius: 3px;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        &:nth-child(odd) {
            background: #f4f4f4;
            td.position,
            td.remove {
                div {
                    border-color: #e0e0e0;
                }
            }
            td.notification {
                border-color: #d6d6d6;
            }
        }

        &.satisfied {
            td.active {
                div {
                    color: white;
                    @include linear-gradient(top, lighten($green, 5%) 0%, $green 90%);

                    span {
                        color: white;
                    }
                    del {
                        color: white;
                    }
                }
            }
        }
    }

    /* Watch list add email */
    #add-email,
    #add-email-success,
    #add-email-ignored {
        background-color: #f4f4f4;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        height: 36px;
        margin-top: 15px;
        padding: 12px 15px;
        position: relative;

        form {
            display: inline-block;
        }
        label {
            display: inline-block;
            color: #606060;
            margin: 8px 10px;

            &.marketing {
                font-size: 14px;
            }
            &.email {
                float: left;
            }
        }

        p {
            color: #606060;
            margin: 9px 10px;

            strong {
                color: black;
            }
        }

        #email {
            border: 1px solid #d0d0d0;
            border-radius: 4px;
            display: inline-block;
            float: left;
            font-size: 14px;
            height: 18px;
            padding: 7px 10px;
            width: 300px;
        }

        #subscribe {
            background: $blue;
            border: 0;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            float: left;
            font-size: 12px;
            height: 32px;
            margin: 2px 10px;
            padding: 0 10px;
            vertical-align: middle;

            &:hover {
                background: black;
            }
        }
        #ignore-email, a.dismiss {
            cursor: pointer;
            display: block;
            font-size: 16px;
            font-weight: bold;
            height: 24px;
            position: absolute;
            right: 10px;
            top: 18px; 
            width: 24px;
            line-height: 24px;
            text-align: center;

            &:hover {
                background: $blue;
                border-radius: 4px;
                color: white;
                text-decoration: none;
            }
        }
    }
}

body.region-ru {
    article.your-watch-list {
        tr.watch.satisfied {
            td.price.active {
                div {
                    span.ruble-sign {
                        background-image: url('/images/region-ru/ruble-white.png');
                    }
                }
            }
        } 
    }
}
