{% extends "gamestradamus/base.html" %}
{% block header %}
    <article class="welcome">
        <div class="title">
            <h1>Welcome to Gauge</h1>
            <div class="processing" data-welcome-started="{{ welcome_started }}">
                <p>We are importing your account information from Steam. This should only take a moment...</p>
                <div class="loader"></div>
            </div>
        </div>
    </article>

{% endblock %}

{% block container %}
    <article class="welcome">
        <div class="content">
            <h2>Make better buying decisions. Find out how to maximize your wallet with Gauge.</h2>
            <h3>Using our Library tool you can track:</h3>
            <ul>
                <li class="time">
                    <strong>Accurate Time</strong>
                    We know Steam isn't 100% accurate when measuring your play time. Add or subtract time from values reported by Steam to get a better view of your gaming habits.
                </li>
                <li class="cost">
                    <strong>Actual Costs</strong>
                    We pre-populate your Library with a guess on how much you paid for a game, but go ahead and update those values with actual costs. See how much you've really spent on Steam. 
                </li>
                <li class="rating">
                    <strong>Gaming Behaviour</strong>
                    Rate the games you've played and get a breakdown of what you enjoy most. Stop buying games you dislike, and start buying games you will like.
                </li>
            </ul>
            <a class="button disabled" href="/profile/games/">Your Library</a>
        </div>
        <div class="private hidden">
            <h2>Uh oh, it appears your Steam account is not public.</h2>
            <p>
                To continue, you will need to give Gauge access to your Steam information. To do so, please follow these steps:
            </p>
            <ol>
                <li>Open your Steam account privacy settings by clicking&nbsp;<a href="{{ request.user_account.openid.replace("/openid/id/", "/profiles/") }}/edit/settings" target="_blank">here...</a></li>
                <li>
                    Under "Profile Status" click "Public - Viewable by anyone on the World-wide-web":
                    <img class="example" src="/images/steam-privacy-settings.jpg">
                </li>
                <li>Click "Save Changes" at the bottom of the page.</li>
                <li>Close the Steam page.</li>
                <li>Log into Gauge again by clicking:&nbsp;<a href="/auth/openid/begin/steam/"><img class="sign-in" src="/images/steam-openid-login-small.png"></a></li>
            </ol>
        </div>
    </article>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/welcome", "dojo/domReady!"], function(init) { init(); });
    </script>
{% endblock %}
